@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply font-sans antialiased text-gray-900 bg-white;
  }
}

@layer components {
  .animate-marquee {
    animation: marquee 25s linear infinite;
  }
}
